

$test: red;

.weak {
  color: $test;
}

.good {
  color: rgb(38, 69, 170);
}

body {
  color: rgba(245, 245, 245, 0.671);
}

.yo {
  color: darkgrey;
}

li {
  color: white
}

a {
  color: white
}

.yo {
  color: rgb(117, 116, 114)
}

.about {
  font-size: 20px;
}


input {
  margin-bottom: 5px;
}

.chart {
    display: block;
    height: 350px;
    width: 1000px;
    margin-left: 15%;
}

.footer {
  margin-top: 350px;
}

.header {
  margin-top: 100px;
}
