$test: red;

.weak {
  color: $test;
}

.good {
  color: rgb(38, 69, 170);
}

body {
  color: rgba(245, 245, 245, 0.671);
}

.yo {
  color: darkgrey;
}

li {
  color: white
}

a {
  color: white
}

.yo {
  color: rgb(117, 116, 114)
}