
body {
  background-color: rebeccapurple;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

li {
  display: inline-block;
  margin-right: 22px;
}

select {
  margin: 5px;
}

img {
  width: 50%;
}